<div class="row">
    <style> 
        * { font-family: "Lobster", cursive; }
  </style>
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <div id="success" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
            {{ successMsg }}
        </div>
    </div>
</div>
<div class="row">
    {{# each products }}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img alt="..." class="img-responsive" src={{picture}}>
                <div class="caption">
                    <p>{{ title }}</p>
                    <div class="clearfix">
                        <div class="price pull-left">${{ price }}</div>
                        <a href="/add-to-cart/{{id}}" class="btn btn-success pull-right" role="button">Agregar al carro</a>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>