{{# if login }}
<div class="row" style="margin-right: -91px;">
 <div class="container-fluid" style="display: flex;justify-content: flex-end;align-items: center;">
    <span style="font-weight: bold; font-size: 18px">Hola, {{userName}}&nbsp;</span>
    <img src={{userPhoto}} height="40" width="40" style="border-radius: 50%;"/>
 </div>
</div>
{{/if}}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>Perfil de usuario</h1>
        <hr>
        <h2>Mis Órdenes</h2>
        {{# each orders }}
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="list-group">
                        {{# each this.items }}
                            <li class="list-group-item">
                                <span class="badge">{{ this.price }}</span>
                                {{ this.item.title }} | {{ this.qty }} Unidades
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="panel-footer">
                    <strong>Total: ${{ this.cart.totalPrice }}</strong>
                </div>
            </div>
        {{/each}}
    </div>
</div>